body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1590px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u155177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1590px;
  height:952px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1590px;
  height:952px;
  display:flex;
  opacity:0.5;
}
#u155177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155185 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:176px;
  width:800px;
  height:600px;
  display:flex;
}
#u155185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(231, 119, 45, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u155186 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:706px;
  width:200px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u155186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:150px;
  background:-webkit-linear-gradient(0deg, rgba(215, 215, 215, 1) 1%, rgba(127, 127, 127, 1) 53%);
  background:-moz-linear-gradient(90deg, rgba(215, 215, 215, 1) 1%, rgba(127, 127, 127, 1) 53%);
  background:linear-gradient(90deg, rgba(215, 215, 215, 1) 1%, rgba(127, 127, 127, 1) 53%);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155187 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:176px;
  width:800px;
  height:150px;
  display:flex;
}
#u155187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:79px;
}
#u155188 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:212px;
  width:148px;
  height:79px;
  display:flex;
}
#u155188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u155189 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:196px;
  width:18px;
  height:18px;
  display:flex;
}
#u155189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
}
#u155190 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:235px;
  width:189px;
  height:33px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
}
#u155190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155190_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u155191 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:384px;
  width:8px;
  height:8px;
  display:flex;
}
#u155191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155192 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:378px;
  width:85px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155192_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u155193 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:424px;
  width:8px;
  height:8px;
  display:flex;
}
#u155193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155194 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:418px;
  width:85px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155194_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u155195 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:464px;
  width:8px;
  height:8px;
  display:flex;
}
#u155195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155196 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:458px;
  width:85px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u155197 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:504px;
  width:8px;
  height:8px;
  display:flex;
}
#u155197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155198 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:498px;
  width:85px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u155199 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:544px;
  width:8px;
  height:8px;
  display:flex;
}
#u155199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155200 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:538px;
  width:85px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155200_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u155201 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:584px;
  width:8px;
  height:8px;
  display:flex;
}
#u155201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155202 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:578px;
  width:85px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155202_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u155203 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:624px;
  width:8px;
  height:8px;
  display:flex;
}
#u155203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155204 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:618px;
  width:228px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1590px;
  height:952px;
  background:inherit;
  background-color:rgba(241, 245, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1012px;
  width:1590px;
  height:952px;
  display:flex;
}
#u155207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1590px;
  height:70px;
}
#u155209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1012px;
  width:1590px;
  height:70px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u155209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-Black", "Arial Black", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u155210 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:1026px;
  width:133px;
  height:42px;
  display:flex;
  font-family:"Arial-Black", "Arial Black", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u155210 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155210_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u155211 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1032px;
  width:1px;
  height:30px;
  display:flex;
}
#u155211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u155212 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:1027px;
  width:80px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u155212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u155213 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:1027px;
  width:80px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u155213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u155214 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:1027px;
  width:80px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u155214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u155215 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:1027px;
  width:80px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u155215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u155216 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:1027px;
  width:80px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u155216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u155219 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:1027px;
  width:40px;
  height:40px;
  display:flex;
}
#u155219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u155220 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:1036px;
  width:22px;
  height:22px;
  display:flex;
}
#u155220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155221 {
  border-width:0px;
  position:absolute;
  left:1526px;
  top:1037px;
  width:29px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u155221 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u155222 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:1044px;
  width:10px;
  height:6px;
  display:flex;
}
#u155222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u155224 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:1027px;
  width:40px;
  height:40px;
  display:flex;
}
#u155224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u155225 {
  border-width:0px;
  position:absolute;
  left:1429px;
  top:1038px;
  width:15px;
  height:18px;
  display:flex;
}
#u155225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u155226 {
  border-width:0px;
  position:absolute;
  left:1466px;
  top:1032px;
  width:1px;
  height:30px;
  display:flex;
}
#u155226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u155228 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:1037px;
  width:70px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u155228 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155228_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u155229 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:1044px;
  width:10px;
  height:6px;
  display:flex;
}
#u155229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u155231 {
  border-width:0px;
  position:absolute;
  left:1356px;
  top:1027px;
  width:40px;
  height:40px;
  display:flex;
}
#u155231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u155232 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:1038px;
  width:15px;
  height:18px;
  display:flex;
}
#u155232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u155233 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:1027px;
  width:26px;
  height:16px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u155233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:882px;
}
#u155234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1082px;
  width:300px;
  height:882px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u155234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u155236 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1102px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u155236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u155237 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1122px;
  width:20px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u155237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u155239 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1162px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u155239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u155240 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1182px;
  width:20px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u155240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u155242 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1222px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u155242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u155243 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1242px;
  width:20px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u155243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u155245 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1282px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u155245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u155246 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1302px;
  width:20px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u155246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u155247 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1306px;
  width:6px;
  height:12px;
  display:flex;
}
#u155247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u155249 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1342px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u155249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u155250 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1362px;
  width:20px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u155250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u155251 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1366px;
  width:6px;
  height:12px;
  display:flex;
}
#u155251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u155253 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1402px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u155253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u155254 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1422px;
  width:20px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u155254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u155255 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1426px;
  width:6px;
  height:12px;
  display:flex;
}
#u155255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u155257 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1462px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u155257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u155258 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1482px;
  width:20px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u155258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u155260 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1522px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u155260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u155261 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1542px;
  width:20px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u155261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u155262 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1546px;
  width:6px;
  height:12px;
  display:flex;
}
#u155262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u155264 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1582px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u155264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u155265 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1602px;
  width:20px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u155265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u155267 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1642px;
  width:260px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u155267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u155267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u155268 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1662px;
  width:20px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u155268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-ItalicMT", "Arial Italic", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
  color:#E7772D;
}
#u155269 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:1477px;
  width:27px;
  height:15px;
  display:flex;
  font-family:"Arial-ItalicMT", "Arial Italic", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
  color:#E7772D;
}
#u155269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155269_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u155270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-ItalicMT", "Arial Italic", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
  color:#E7772D;
}
#u155270 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:1237px;
  width:27px;
  height:15px;
  display:flex;
  font-family:"Arial-ItalicMT", "Arial Italic", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
  color:#E7772D;
}
#u155270 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155270_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
