body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1590px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u47280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1590px;
  height:952px;
  background:inherit;
  background-color:rgba(241, 245, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1590px;
  height:952px;
  display:flex;
}
#u47280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:912px;
}
#u47281 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1550px;
  height:912px;
  display:flex;
}
#u47281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1510px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u47283 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1510px;
  height:40px;
  display:flex;
  opacity:0.7;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u47283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u47284 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:39px;
  width:110px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47284_img.selected {
}
#u47284.selected {
}
#u47284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u47285 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:39px;
  width:110px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47285_img.selected {
}
#u47285.selected {
}
#u47285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u47286 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:39px;
  width:110px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47286_img.selected {
}
#u47286.selected {
}
#u47286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1510px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47287 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:100px;
  width:1510px;
  height:60px;
  display:flex;
}
#u47287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u47288 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:120px;
  width:601px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u47288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47288_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u47290 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:185px;
  width:85px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u47290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47290_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47291 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:188px;
  width:300px;
  height:14px;
  display:flex;
}
#u47291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(231, 119, 45, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47292 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:188px;
  width:50px;
  height:14px;
  display:flex;
}
#u47292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u47293 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:185px;
  width:95px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u47293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47293_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E7772D;
}
#u47294 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:185px;
  width:85px;
  height:20px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E7772D;
}
#u47294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47294_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(231, 119, 45, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E7772D;
}
#u47295 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:180px;
  width:105px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E7772D;
}
#u47295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u47297 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:240px;
  width:50px;
  height:31px;
  display:flex;
}
#u47297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u47298 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:247px;
  width:53px;
  height:18px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u47298 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47298_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u47300 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:301px;
  width:50px;
  height:31px;
  display:flex;
}
#u47300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u47301 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:308px;
  width:53px;
  height:18px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u47301 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47301_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47302_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:510px;
  height:84px;
}
#u47302 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:205px;
  width:500px;
  height:74px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u47302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u47302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
