body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1591px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u59755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1591px;
  height:952px;
  background:inherit;
  background-color:rgba(241, 245, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1591px;
  height:952px;
  display:flex;
}
#u59755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:913px;
}
#u59756 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:19px;
  width:1550px;
  height:913px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u59756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u59756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u59757 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:49px;
  width:110px;
  height:36px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u59757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59758 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:109px;
  width:1500px;
  height:160px;
}
#u59759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u59759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
}
#u59760 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:0px;
  width:355px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u59760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u59761 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:0px;
  width:186px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u59761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u59762 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:0px;
  width:171px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u59762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59763 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:0px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u59763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59764 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:0px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u59764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u59765 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:0px;
  width:146px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u59765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
}
#u59767 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:40px;
  width:355px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u59768 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:40px;
  width:186px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u59769 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:40px;
  width:171px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59770 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:40px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59771 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:40px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u59772 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:40px;
  width:146px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E7772D;
  text-align:left;
}
#u59772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
}
#u59774 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:80px;
  width:355px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u59775 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:80px;
  width:186px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u59776 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:80px;
  width:171px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u59776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59777 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:80px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59778 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:80px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u59779 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:80px;
  width:146px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E7772D;
  text-align:left;
}
#u59779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
}
#u59781 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:120px;
  width:355px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u59782 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:120px;
  width:186px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u59783 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:120px;
  width:171px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u59783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59784 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:120px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
}
#u59785 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:120px;
  width:214px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u59785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u59786 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:120px;
  width:146px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E7772D;
  text-align:left;
}
#u59786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 42px;
  box-sizing:border-box;
  width:100%;
}
#u59786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u59795 {
  border-width:0px;
  position:absolute;
  left:1467px;
  top:122px;
  width:16px;
  height:16px;
  display:flex;
}
#u59795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u59817 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:59px;
  width:250px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u59817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u59817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u59818 {
  border-width:0px;
  position:absolute;
  left:1515px;
  top:67px;
  width:14px;
  height:14px;
  display:flex;
}
#u59818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
